# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments & Tools
.venv/
venv/
ENV/
.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs & System
.vscode/
.idea/
.DS_Store
*.log